{% extends 'bootstrap/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
    {{super()}}
    <div class="container mt-3">
        <!-- <h2>Contextual Colors</h2> -->
        <p class="text-body">Прохождение данного теста позволит понять, насколько хорошо вы знаете различные слова, характерные только для определенных регионов России (диалектизмы).</p>
        <p class="text-body">При прохождении теста вам предстоит сначала ответить на несколько вопросов, дающих нам информацию о вас (ваш пол, возраст, уровень образования, регион Росссии, в котором вы родились и регион России, в котором вы прожили большую часть времени).</p>
        <p class="text-body">Далее вам предстоит постараться понять, что ознанчают 10 слов диалектизмов, характерных для разных регионов России. </p>
        <p class="text-body">В качестве последнего вопроса нашего тестирования мы предлагаем указать вам какой-нибудь диалектизм, известный вам, но неуказанный в тесте.</p>
        <p class="text-body">Для прохождения теста перейдите на вкладку "Анкета" вверху страницы или нажмите на кнопку ниже.</p>
        <div class="text-center">
            <a href="{{ url_for('view_poll') }}" class="btn btn-outline-primary">Анкета</a>
        </div>
      </div>
{% endblock %}
